*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.woff2"), url("fonts/Montserrat-Medium.woff");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-SemiBold.woff2"),
    url("fonts/Montserrat-SemiBold.woff");
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
}

.contnaire {
  width: 90%;
  margin: auto;
  max-width: 80rem;
}

.content_section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding-top: 8.25rem;
}
main {
  padding-bottom: 4.735rem;
}

/*----header-----*/
header {
  padding: 0.625rem 0;
  background-color: #a0c16c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_toggle_menu,
.kart {
  width: 1.25rem;
  cursor: pointer;
}
.btn_toggle_menu img,
.kart img {
  width: 100%;
}
.logo {
  font-weight: 500;
  align-items: center;
  font-size: 1.5625rem;
  color: #ffffff;
  cursor: pointer;
}

/*----card-----*/
.my_card {
  width: 48%;
  height: 15rem;
  border-radius: 0.3125rem;
  border: none;
  color: #121212;
  box-shadow: 0.0625rem 0.0625rem 0.125rem grey;
  cursor: pointer;
}

.my_card .halo_card {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 10.625rem;
  border: none;
  background-color: #ffffff;
  border-top-left-radius: 0.3125rem 0.3125rem;
  border-top-right-radius: 0.3125rem 0.3125rem;
}
.my_card .my_card_ADS {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 251px;
  border: none;
  background-color: #ffffff;
  border-radius: 0.3125rem;
}

.info_product {
  padding: 0 0.625rem;
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: 700;
}
.price,
.detail_product {
  font-size: 0.875rem;
}
.detail_product {
  margin-left: 0.75rem;
}
.info_product button {
  background-color: #a0c16c;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.375rem;
  border-radius: 0.3125rem;
  position: relative;
  top: -0.5625rem;
  border: none;
  cursor: pointer;
}
/*----card-----*/
.sidebar {
  display: none;
}
.sidebar li:first-child {
  background-color: #ccc8c8;
  padding: 0.379rem;
  border-radius: 0.3125rem;
}

.sidebar ul li {
  font-size: 0.875rem;
  list-style-type: none;
  display: inline-block;
  margin: 0.25rem 0.75rem;
  padding: 0.4375rem 0.25rem;
}
.sidebar ul a {
  color: #808080;
  text-decoration: none;
}
.sidebar a:hover {
  color: #ffffff;
}
.sidebar li:hover {
  background-color: #f97200;
  color: #ffffff;
  border-radius: 0.3125rem;
}
.search_bar {
  width: 17.5rem;
  padding: 0.875rem 1rem;
  border: none;
  border-radius: 0.3125rem;
}
.searchDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-left: 1rem;
  border-radius: 0.3125rem;
}
.searchIcon {
  width: 1.25rem;
}

input:focus {
  outline: none;
}
.button_Flot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.5625rem;
  text-decoration: none;
  position: fixed;
  bottom: 4%;
  left: 4%;
  background-color: #a0c16c;
  border-radius: 0.3125rem;
  color: #ffffff;
  box-shadow: rgb(0 0 0 / 10%) 0px 0.4rem 1.6rem 0px;
}
.button_Flot img {
  width: 1.1875rem;
  margin-left: 1rem;
  color: #ffffff;
}
.hide_on_mobile {
  display: none;
}
footer {
  width: 100%;
  background: #111;
  margin-top: 1.5rem;
}
footer ul {
  padding: 1.25rem;
  text-align: center;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.25rem 0.75rem;
}
footer ul a {
  font-size: 0.8125rem;
  color: #fff;
  text-decoration: none;
}
footer ul a:hover {
  text-decoration: underline;
}

@media (min-width: 47.9375rem) {
  .my_card {
    width: 30%;
    height: 15.625rem;
  }
}
@media (min-width: 50rem) {
  .btn_toggle_menu {
    display: none;
  }
  .button_Flot {
    position: initial;
  }
  .button_Flot {
    box-shadow: none;
  }
  .hide_on_mobile {
    display: flex;
  }
  .kart {
    width: auto;
    display: flex;
  }
  .kart img {
    width: 1.25rem;
    margin-left: 1.875rem;
  }
  main {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  .content_section.contnaire {
    padding-right: 3.75rem;
    width: 80%;
    margin: unset;
  }
  .sidebar {
    display: block;
    width: 15%;
    position: fixed;
    top: 8.125rem;
    left: 2.8125rem;
    /* background-color: red; */
    padding: 5rem 1.25rem;
    max-height: 60vh;
    overflow: auto;
  }
}
@media (min-width: 64rem) {
  .my_card {
    /* width: 23%; */
    width: 19%;
    height: 15.625rem;
  }
}
